html {
    background-color: pink;
}
#toolbar {
    width: 200px;
    height: 300px;
    display: inline-block;
}

#cyan {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
#lime {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
#red {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

#yellow {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;

}
#black {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

#deepPink {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
.colors {
    box-shadow: 5px 5px 3px #888888;
}
#erase {
    width: 40px;
    height: 40px;
    box-shadow: 5px 5px 3px #888888;
    background-color: white;
    margin-bottom: 10px;
}
.myStamps {
    width: 40px;
    height: 40px;
    display: block;
    background-color: white;
    box-shadow: 5px 5px 3px #888888;
}
#s1 {
    margin-bottom: 10px;
}
#s2 {
    margin-bottom: 10px;
}

#canvas {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: white;
}

.rows:first-child{
    margin: 0;
}
.rows {
    /*margin-top:-4px;*/
    height: 10px;


}
.cols {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: transparent;

}
#stampDimensions {
    width: 40px;
    height: 40px;
    position: absolute;
}